ADMIN_USERNAME=here is your admin username
ADMIN_PASSWORD=here is your admin password

DATABASE_URL=postgresql://your_database_url_here
NODE_ENV=here is your node environment (development or production)